<components>
  <component name="DAO">
    <parameter name="DescriptorClass" value="Azavea.Open.DAO.PostgreSQL.PostgreSqlDescriptor,Azavea.Open.DAO.PostgreSQL"/>
    <parameter name="Server" value="lr02.internal.azavea.com" />
    <parameter name="User" value="unittest" />
    <parameter name="Password" value="unittest" />
    <parameter name="Database" value="unittest" />

    <parameter name="MAPPING" value="..\..\Tests\Mapping.xml" />
  </component>
</components>
